.toast-container {
  pointer-events: none;
}

.toast {
  pointer-events: auto;
  min-width: min(300px, calc(100vw - 1rem));
  max-width: 400px;
}

.toast-header {
  background-color: rgba(0,0,0,.03);
}

.toast-body {
  word-wrap: break-word;
}

@media (max-width: 360px) {
  .toast {
    min-width: calc(100vw - 0.5rem);
    max-width: calc(100vw - 0.5rem);
  }
}
